<form method="post" action="{{ path('auto_delete', {'id': auto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auto.id) }}">
    <button class="btn">Delete</button>
</form>
