{% extends 'base.html.twig' %}

{% block title %}Auto{% endblock %}

{% block body %}
    <h1>Auto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auto.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ auto.codigo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ auto.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ auto.precio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('auto_index') }}">back to list</a>

    <a href="{{ path('auto_edit', {'id': auto.id}) }}">edit</a>

    {{ include('auto/_delete_form.html.twig') }}
{% endblock %}
